SYSTEM_IP=enter_ip_here

OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=llama3.2

VIRUSTOTAL_API_KEY=Check this site: https://www.virustotal.com/gui/my-apikey

BLOCKED_URL_CATEGORIES=malicious,suspicious,phishing
BLOCKED_DOMAIN_KEYWORDS=adult,xxx,sex,nsfw,erotic,porn,cam,nude,drugs,weed,thc,cocaine,mdma,xtc,meth,guns,weapon,kill,war,violence,scam,fraud,phish,fake,con,cheat,casino,hacking,crack,pirate,proxy,botnet,ddos,ransom,malware,spyware,adware,virus,trojan,rootkit,tobacco,cigarette,vape,hot,fetish
BLOCKED_KEYWORDS=adult,xxx,sex,nsfw,erotic,porn,cam,nude,drugs,weed,thc,cocaine,mdma,xtc,meth,guns,weapon,kill,war,violence,scam,fraud,phish,fake,con,cheat,casino,hacking,crack,pirate,proxy,botnet,ddos,ransom,malware,spyware,adware,virus,trojan,rootkit,tobacco,cigarette,vape,hot,fetish

GEMINI_API_KEY=